 <div class="col-lg-4 col-6">
    <div class="small-box bg-success">
        <div class="inner">
            <h3>26.565</h3>
            <p>REGAL </p>
            <ul><li>MENS JAS (8.853)</li><li>MENS PANTS (17.712)</li>              </ul>
        </div>
        <a href="javascript:;" class="small-box-footer btn-brand" data-brand="REGAL ">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div> 